@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    background-color: #37e0fe;
}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #37e0fe;
}
.container{
    width: 90%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
    margin-top: 50px;
}

h1{
    font-size: 55px;
    text-align: center;
    color: #133d44;
}

.footer{
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    background: #0d3036;
    position: fixed;
    bottom: 0;
}
img{
    width: 200px;
    height: 200px;
    margin-top: 30px;
    border-radius: 10px;
    border: 5px solid #0d3036;
    display: none;
}
.data{
    margin-top: 30px;
    font-size: 17px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 18px;
    color: #000;
    font-weight: 500;
    margin-top: 20px;
}
table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid #acabab;
}
th, td{
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #acabab;
}
th{
    border-right: 1px solid #acabab;
}
span{
    color: #ce4116;
    text-shadow: -1px -1px 0 black;
}
a{
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #133d44;
    padding: 10px 20px;
    width: max-content;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
    border: 2px solid #0d3036;
}
a:hover{
    background-color: #155763;
}